/* Section Popular */
.section_popular {
    margin: 3.2rem 0;
}

.section_popular .title {
    color: var(--secondary-300);
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: capitalize;
}

.section_popular .view_link {
    color: var(--primary);
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: capitalize;
}